<ion-header>
  <ion-toolbar>
    <ion-title>Chapter Two: <em>The Empyrean Hunt</em></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Deliriously tired and suffering from a severe migraine, Rin stood slumped with dark circles and bags under his eyes. Cuilean, miraculously, looked completely unphased from the night before. He was grinning ear-to-ear, excitedly nudging his peers as they stood anxious and alert. They were queasy, exhausted and hardly able to stand up straight. Why do you let these things happen, Rin thought, You’re too smart for this.
    “Hey, Rin.” Cuilean whispered, “Rin, you need juniper water. It counteracts the post-magic drowsiness. This isn’t your first hangover. Rin!”
    “Stop talking, please.”</p>
    <p>“You’re acting like I dragged you out by the hair last night. You had a great time, didn’t you?” he said with a playful nudge, “I saw the way you were getting along with Selena, you dog!”</p>
    <p>“One more word and I’m slapping you.”</p>
    <p>“Empyreans!” Master Gael announced as he emerged from the staircase behind them. Everyone straightened their posture, now fully awake. “Today is a glorious day. You have been selected as the top of your class, the best and brightest that Astrum has to offer, entrusted to return home in seven days’ time with a new generation of students. You must seek out gifted individuals, those who appear magically-inclined, and deliver them safely to a Preceptor.”
    </p>
  <ion-button color="medium" [routerDirection]="'root'" [routerLink]="['/toc']">Back to toc</ion-button>
  <ion-button color="medium" [routerDirection]="'root'" [routerLink]="['/chapter1']">Previous Chapter</ion-button>
  <ion-button color="medium" [routerDirection]="'root'" [routerLink]="['/chapter3']">Next Chapter</ion-button>

</ion-content>
