<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" class="ion-padding">
  <ion-card class="book-cover-card">
    <img src="/assets/astral-cover.jpg" alt="Astral Book Cover" [routerDirection]="'root'" [routerLink]="['/toc']"/>
    <p>In <em>Astral,</em> author Cale Madison delivers a mysterious and 
      intriguing adventure of a sorcerer finding his purpose in a 
      precarious world. The discovery of a transcendent being, 
      the Ancient One, yields unabating wars between kingdoms, 
      propelling this sorcerer into a dangerous game with sinister 
      characters and unimaginable horrors. </p>
      <p>At the center of this conflict is Astrum, Academy of the Stars, 
      a college of sorcery and haven for lost magicians. The scholars there 
      prepare for a cosmic war against the Ancient One, who has traveled eons 
      to devour their sun. Amidst his graduating year, Rin discovers that terrors 
      are amassing beyond their walls — assassins, celestial monsters, soldiers 
      and supernatural forces. </p>              
      <p>In a land not so far away, the acolytes of House Harkin worship the 
      encroaching god and plot retaliation against Astrum. Their ruthless and 
      unyielding leader leads an assault on the academy, gathering armies from 
      across the brutal northlands to join their crusade.</p>
      <p>The fate of the Harkins and the scholars of Astrum hangs perilously 
      in the balance. The deadliest of conflicts is about to begin…and only 
      one young hero is capable of thwarting oblivion. 
      </p>
  </ion-card>