<ion-header>
  <ion-toolbar>
    <ion-title>Chapter Three: <em>Paradigms and Conjecture</em></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Days passed before Cuilean found his recruit, a bratty child named Lyra. It was a clear day at the 110th Annual Horse Derby when they noticed her. She was stealing coins and snatching wallets from underneath the stands, using basic levitation spells. When approached, she stole Cuilean’s hat and almost made a swift escape, taking them on another close pursuit through the city. As he put it, he turned her in for ‘the hell of it’. The next morning, Cuilean reluctantly left for Astrum, leaving Rin behind to focus on the Hunt.</p>
<p>He ate breakfast alone at the pier, watching Brickelites meander about their monotonous, morning routines. The eggs were cold, but his concentration was fixated on the crowd. He watched for any sign of magic. <em>You know how important this is,</em> he thought, <em>Sionnach will have an aneurysm if I return without someone, not to mention an additional four terms before the next Empyrean Hunt.</em></p>
<p>Recalling years of studying, he followed suspicious individuals into the seedy underbelly of the city, blending into the crowd like a fly on the wall. He discovered underground fight pits, casinos and all manners of horrendous, illegal activities. There were arenas hidden in the back rooms of workshops; inside were blister-covered children handling welding tools and furnaces. Brothels and poachers’ markets were in abundance, and they always had one or two lookouts keeping tabs. They were criminals, foul and disreputable, but none showed any sign of magic.</p>
  <ion-button color="medium" [routerDirection]="'root'" [routerLink]="['/toc']">Back to toc</ion-button>
  <ion-button color="medium" [routerDirection]="'root'" [routerLink]="['/chapter2']">Previous Chapter</ion-button>
 

</ion-content>
