<ion-header>
  <ion-toolbar>
    <ion-title>Chapter One: <em>A Greater Purpose</em></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>The winding, snow-covered trail ended at the forest’s edge. Huron clutched his sword hilt tightly and kicked his spurs into his nag’s ribs. She whinnied, nervous to venture past the treeline. A vast, frozen lake separated them from the silhouetted castle, Burchwyn, which sat on the horizon with high towers spiraling out of the dense, falling snow. The glacial void chilled his bones, and the sharp snowflakes stung his eyes. What was once a gentle breeze had grown increasingly more violent, now blowing his red hair into his face.</p> 
<p>A slight windstorm, nothing more.” Huron reassured his horse and himself.</p>
<p>The sound of hooves crunching snow was drowned by the rushing of fierce wind. The Knight Errant squinted, his eyes burning from the cold, keeping his gaze fixated on the path ahead. His horse trod timidly, unperturbed and steadfast. The mountainous, barren countryside of Caelum was completely unrecognizable compared to the other three seasons: lush, overflowing with animals, birds and grassy hills. He trembled and cursed under his breath, despising his commander who gave him this winter assignment. After sneering towards the distant, menacing peaks of his home country, he hunched his shoulders and pulled on the reins. His horse stepped slowly, cautiously avoiding patches of thin ice.</p>

  <ion-button color="medium" [routerDirection]="'root'" [routerLink]="['/toc']">Back to toc</ion-button>
  <ion-button color="medium" [routerDirection]="'root'" [routerLink]="['/chapter2']">Next Chapter</ion-button>

</ion-content>
